@import url("https://fonts.googleapis.com/css2? family= Bellefair & display=swap");

.destinationContainer {
  height: 100%;
  width: 100vw;
  background-image: url("../../data/assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.destination {
  display: flex;
  height: 100vh;
  width: 100vw;
  .article {
    h2 {
      position: absolute;
      width: 382px;
      height: 34px;
      left: 166.5px;
      top: 212px;
    }

    img {
      position: absolute;
      width: 445px;
      height: 445px;
      left: 230px;
      top: 343px;
    }
  }

  .item2 {
    position: absolute;
    width: 445px;
    height: 472px;
    left: 858px;
    top: 301px;

    ul {
      display: flex;
      flex-direction: row;
      gap: 15px;

      justify-content: space-between;

      li {
        list-style: none;
        font-family: "Barlow Condensed";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
      }
    }

    .name {
      font-family: "Bellefair";
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 115px;
      color: #ffffff;
    }

    button {
      width: 60px;
      height: 60px;
      background-color: transparent;
      color: #ffffff;
      font-size: 25px;
      cursor: pointer;
      border: none;
      margin: 5px;
    }
    p {
      font-family: Barlow;
      font-size: 18px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;
      color: white;
    }

    hr {
      position: absolute;
      left: 0.22%;
      right: 0%;
      top: 80.93%;
      bottom: 18.86%;
      background: #383b4b;
    }
    .distance-travel {
      font-family: "Barlow Condensed";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 2.3625px;
      text-transform: uppercase;
      color: #d0d6f9;
      padding-top: 20px;
      position: absolute;
      left: 0.11%;
      right: 65.06%;
      top: 87.08%;
      bottom: 0%;

      width: 445px;
      display: flex;
      justify-content: space-between;

      .avgDistance {
        font-family: Barlow Condensed;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 2.362499952316284px;
        text-align: left;
        span {
          font-family: Bellefair;
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
      .travelTime {
        font-family: Barlow Condensed;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 2.362499952316284px;
        text-align: left;
        span {
          font-family: Bellefair;
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0px;
          text-align: left;
        }
      }
    }
  }
}
