.destinationContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("../../data/assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.destination {
  display: flex;
  height: 100vh;
  width: 100vw;
  .article {
    h2 {
      position: absolute;
      width: 382px;
      height: 34px;
      left: 166.5px;
      top: 212px;
    }

    img {
      position: absolute;
      width: 445px;
      height: 445px;
      left: 230px;
      top: 343px;

    }
  }

  .item2 {
    position: absolute;
    width: 445px;
    height: 472px;
    left: 858px;
    top: 301px;

    ul {
      display: flex;
      flex-direction: row;
      gap: 15px;

      li {
        list-style: none;
        font-family: 'Barlow Condensed';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
      }

    }

    .name {
      font-family: 'Bellefair';
      font-style: normal;
      font-weight: 400;
      font-size: 100px;
      line-height: 115px;
      color: #FFFFFF;
    }



    button {
      width: 60px;
      height: 60px;
      background-color: transparent;
      color: #ffffff;
      font-size: 25px;
      cursor: pointer;
      border: none;
      margin: 5px;
    }
    p{
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      color: #D0D6F9;
    }
    .distance-travel{
font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 2.3625px;
text-transform: uppercase;
color: #D0D6F9;
.distance{

}
.travel{
font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 28px;
}
    }

  }
  
}

