.nav {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  // position: absolute;
  width: 97%;
  margin: 0 auto;
  border: 1px solid white;
  //height: 150px;
  // left: 55px;
  // top: 40px;
  //position: absolute;

  height: 120px;
  left: 55px;
  top: 40px;
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    //align-items: center;
    gap: 16px;
    border: 1px solid black;
    height: 80px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }
  &__left {
    width: 48px;
    height: 48px;
  }
}
